/*------------------GENERAL/SECTIONS---------------------*/
body{
  background: #002e23;
  margin: 0 !important;
  color: white;
  font-family: verdana, sans-serif;
}
h1{
  margin-top: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h2{
  padding-top: 20px;
  margin-top: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.filtersText{
  text-align: right;
  padding-right: 25px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.filters{
  position: relative;
  grid-area: 1 / 2 / 1 / 2;
}
#searchInput{
  width: 120px;
  height: 26px;
  position: relative;
  grid-area: 1 / 3 / 1 / 3;
  padding: 0;
  border: none;
  margin-top: 3px;
  padding-left: 30px;
  background-image: url('images/searchIcon.png'); /* Add a search icon to input */
  background-size: 15px 15px;
  background-position: 7px 5px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
}
.midGrid{
  display: grid;
  width: 900px;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
}
.top{
  /*background-color: #00292e;*/
  background: radial-gradient(#006960, #002e23);
  position: fixed;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  z-index: 5;
}
/*--------------PARTY/TEAM------------*/
.party{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-columns: repeat(6, minmax(150px, 1fr) );
  justify-items: center; /*center horizontally*/
  align-items: center; /*center vertically*/
  border: 1px solid white;
  width: 900px;
  margin: auto;
  transform: skew(-20deg);
}
.partySlot {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center; /*center horizontally*/
  align-items: center; /*center vertically*/
  height: 120px;
  width: 100%;
  border: 1px solid white;
  background: linear-gradient(to bottom, #008169, #002e23);
  display: inline-block;
  overflow: hidden;
}
.partyImg{
  transform: skew(20deg);
  cursor: pointer;
}
.middle{
  position: relative;
  top: 223.84px;
}
.bottom{
  position: fixed;
  top: 223.84px;
  width: 100%;
  height: 100px;
  z-index: -5;
  background: linear-gradient(to bottom, #006960, #002e23);
}
/*------------DROPDOWNS-------------*/
.dropdownButton {
  background-color: #f1f1f1;
  color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.dropdownRow{
  display: none;
  position: absolute;
  background-color: #006960;
  margin: auto;
  z-index: 1;
  border: 2px solid white;
}
.dropdownContent a {
  color: white;
  text-shadow: 0px 0px 3px black;

  margin: 16px;
  text-decoration: none; /*removes underline from link*/
  position: relative;
  font-size: 15px;
  text-align: center;
  line-height: 1.5em; /* LINESPACING BETWEEN THE VERTICALLY ALIGNED <A> TAGS*/

}
#Two {
  color: white;
  border-left: none;
  /*height: 300px;*/
}
.col{
  position: relative;
  text-align: center;
}

.arrow{
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-bottom: 2px;
  margin-left: 2px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*-------------POKEMON LIST-----------------*/
.grid{
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 900px;
  margin: auto;
  padding: 10px;
  top: 243.84px;
  justify-items: center; /*center horizontally*/
  align-items: center; /*center vertically*/
  border: 1px solid white;
  margin-bottom: 20px;
  z-index: 0;
  background-color: #005048;
}
.pokemonSlot{
  height: 80px;
  width: 80px;
  border-radius: 20%;
  z-index: -1;
  position: relative;
  grid-area: auto;
  margin: 5px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 10px #00a189;
}
.cell:hover .pokemonSlot{ /* for some reason, hover needs to be on the outermost parent to be triggered */
  transform: scale(1.3);
  z-index: 1;
}
.cell{
  display: flex;
  align-items:center;
  justify-content:center;
  cursor: pointer;
}
.tooltip {
  visibility: hidden;
  width: 100px;
  background: linear-gradient(to bottom, #006960, #002e23);
  border: 1px solid white;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-top: 120px;
}
.partySlot .tooltip{
  visibility: visible;
  transform: skew(20deg);
  margin-top: -25px;
  margin-left: 24px;
}
.cell:hover .tooltip {
  visibility: visible;
}
